.buttonsSocialMedia{
    margin-top: 6vh;
}


.separator{
    display:flex;
    align-items: center;
    margin-bottom: 3vh;
  }
  
  .separator .line{
    height: 1px;
    flex: 1;
    background-color: rgb(255, 255, 255);
  }
  
  .separator h4{
    padding: 0 2rem;
  }

  .email_senhaBox{
    font-weight: 900;
  }


  